/00_frontpage.aux
/00_header.aux
/01_Intro.aux
/02_Seaking_Profiler.aux
/03_Notebook_Dell.aux
/04_indutivo.aux
/05_Encoder.aux
/06_Pan_Til.aux
/07_Tablet.aux
/08_Pressao.aux
/anexo.aux
/master.aux
/master.lof
/master.log
/master.out
/master.pdf
/master.synctex.gz
/master.toc
